Repository grafana/athena-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format

frontend-lint:
  run: 'eslint --cache --ignore-path ./.gitignore --fix {staged_files}
  
    yarn prettier --write {staged_files}
  
    '
  stage_fixed: true

backend-format:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

Prepare release 2.19.1
  CHANGELOG.md
  package.json
Due: none

add jackspeak resolution
  package.json
  yarn.lock
Due: none

Spellcheck
  cspell.config.json
Due: none

grafana/e2e
  package.json
  yarn.lock
Due: none

plugin-e2e is different from e2e
  package.json
  yarn.lock
Due: none

E2E: Replace Cypress with Playwright (#487)
  .github/workflows/e2e-tests.yml
  .gitignore
  cspell.config.json
  cypress/integration/smoke.spec.ts
  cypress/screenshots/blank.md
  cypress/tsconfig.json
  docker-compose.yaml
  package.json
  playwright.config.ts
  provisioning/dashboards/dashboards.yaml
  provisioning/dashboards/testDashboard.json
  provisioning/datasources/aws-athena.yaml
  src/plugin.json
  tests/annotationsEditor.spec.ts
  tests/configEditor.spec.ts
  tests/queryEditor.spec.ts
  tests/variableEditor.spec.ts
  yarn.lock
Due: frontend-lint

Plugin ui
  package.json
  src/ConfigEditor.tsx
  src/QueryEditor.test.tsx
  src/QueryEditorForm.test.tsx
  src/QueryEditorForm.tsx
  src/ResultReuse/ResultReuse.tsx
  src/SQLEditor.tsx
  src/VariableQueryEditor.test.tsx
  src/language/completionItemProvider.ts
  src/language/macros.ts
Due: frontend-lint

Prepare 3.0.0
  CHANGELOG.md
  README.md
  package.json
Due: none

Replace experimental in tests
  src/QueryEditor.test.tsx
  src/QueryEditorForm.test.tsx
  src/VariableQueryEditor.test.tsx
Due: frontend-lint

Fix a typo
  README.md
Due: none

Change grafana dependency
  src/plugin.json
Due: none

Test with 11.4
  src/plugin.json
Due: none

Update grafana dependency
  src/plugin.json
Due: none

update changelog, compatibility version
  CHANGELOG.md
  README.md
Due: none

Replace @grafana/experimental with @grafana/plugin-ui and prepare 3.0.0 (#477)
  CHANGELOG.md
  README.md
  package.json
  src/ConfigEditor.tsx
  src/QueryEditor.test.tsx
  src/QueryEditorForm.test.tsx
  src/QueryEditorForm.tsx
  src/ResultReuse/ResultReuse.tsx
  src/SQLEditor.tsx
  src/VariableQueryEditor.test.tsx
  src/language/completionItemProvider.ts
  src/language/macros.ts
  src/plugin.json
Due: frontend-lint

automated release 3.0.0
  dist/plugin.json
Due: none

Update for aws-sdk-go-v2
  cspell.config.json
  go.mod
  go.sum
  pkg/athena/api/api.go
  pkg/athena/api/fake.go
  pkg/athena/api/mock/athena-client.go
  pkg/athena/driver/connection.go
  pkg/athena/driver/rows.go
  pkg/athena/driver/rows_test.go
  pkg/athena/models/settings.go
Due: backend-format

Bump the all-node-dependencies group with 10 updates (#495)
  package.json
  yarn.lock
Due: none

Chore: add label to external contributions
  .github/pr-commands.json
  .github/workflows/pr-commands.yml
Due: none

go mod tidy
  go.mod
Due: none

Migrate to v2 auth interface of grafana-aws-sdk
  cspell.config.json
  go.mod
  go.sum
  pkg/athena/api/api.go
Due: backend-format

Prepare release 3.0.1
  CHANGELOG.md
  package.json
Due: none

Prepare release 3.0.1 (#502)
  CHANGELOG.md
  package.json
Due: none

automated release 3.0.1
  dist/plugin.json
Due: none

Implement QueryExecutionError
  pkg/athena/api/api.go
  pkg/athena/api/api_test.go
  pkg/athena/api/mock/athena-client.go
Due: backend-format

Update dependencies
  jest-setup.js
  package.json
  yarn.lock
Due: frontend-lint

rerun yarn
  yarn.lock
Due: none

Cover all paths
  go.mod
  go.sum
  pkg/athena/api/api.go
Due: backend-format

Fix go.mod
  go.mod
Due: none

Implement QueryExecutionError to log downstream error cause in the error response (#506)
  go.mod
  go.sum
  pkg/athena/api/api.go
  pkg/athena/api/api_test.go
  pkg/athena/api/mock/athena-client.go
Due: backend-format

Prepare 3.1.0
  CHANGELOG.md
  package.json
Due: none

Spelling
  cspell.config.json
Due: none

Prepare 3.1.0 (#511)
  CHANGELOG.md
  cspell.config.json
  package.json
Due: none

automated release 3.1.0
  dist/plugin.json
Due: none

Make sure error status is not nil
  pkg/athena/api/api.go
  pkg/athena/api/api_test.go
  pkg/athena/api/mock/athena-client.go
Due: backend-format

Bugfix: Make sure Athena error object is not nil (#516)
  pkg/athena/api/api.go
  pkg/athena/api/api_test.go
  pkg/athena/api/mock/athena-client.go
Due: backend-format

Prepare 3.1.1
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  frontend-lint: any of: *.{js,ts,tsx}
  backend-format: any of: *pkg/**/*.go
