Repository grafana/athena-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format

frontend-lint:
  run: 'eslint --cache --ignore-path ./.gitignore --fix {staged_files}
  
    yarn prettier --write {staged_files}
  
    '
  stage_fixed: true

backend-format:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

ci: use shared reusable add-to-project workflow
  .github/workflows/add-to-project.yml
Due: none

ci: use shared reusable stale workflow (#871)
  .github/workflows/stale.yml
Due: none

ci: use shared reusable add-to-project workflow (#872)
  .github/workflows/add-to-project.yml
Due: none

Bump grafana/* dependencies
  cspell.config.json
  jest.config.js
  package.json
  yarn.lock
Due: frontend-lint

Resolve critical vulnerabilities
  package.json
  yarn.lock
Due: none

Bump grafana/* dependencies (#874)
  cspell.config.json
  jest.config.js
  package.json
  yarn.lock
Due: frontend-lint

Bump dependencies
  package.json
  yarn.lock
Due: none

Bump dependencies (#876)
  package.json
  yarn.lock
Due: none

Bump @grafana/* to 13.1.1 and update dependencies
  package.json
  yarn.lock
Due: none

Bump @grafana/* to 13.1.1 and update dependencies (#877)
  package.json
  yarn.lock
Due: none

Update dependencies
  jest.config.js
  package.json
  yarn.lock
Due: frontend-lint

Update jest.config.js
  jest.config.js
Due: frontend-lint

Update dependencies (#879)
  jest.config.js
  package.json
  yarn.lock
Due: frontend-lint

Forward per-datasource grafanaExternalId for Assume Role
  pkg/athena/api/api.go
  pkg/athena/api/api_test.go
Due: backend-format

Chore: Bump @grafana/e2e-selectors for Grafana 13.2 nightly E2E
  package.json
  yarn.lock
Due: none

Forward per-datasource grafanaExternalId for Assume Role (#880)
  package.json
  pkg/athena/api/api.go
  pkg/athena/api/api_test.go
  yarn.lock
Due: backend-format

Prepare release 3.3.0
  CHANGELOG.md
  package.json
Due: none

Prepare release 3.3.0 (#881)
  CHANGELOG.md
  package.json
Due: none

Bump @grafana/aws-sdk to 0.12.1 for Cloud external ID display
  package.json
  src/ConfigEditor.test.tsx
  yarn.lock
Due: frontend-lint

Assert minted per-datasource external ID in ConfigEditor test
  src/ConfigEditor.test.tsx
Due: frontend-lint

Prepare release 3.3.1
  CHANGELOG.md
  package.json
Due: none

Prepare release 3.3.1 (#882)
  CHANGELOG.md
  package.json
  src/ConfigEditor.test.tsx
  yarn.lock
Due: frontend-lint

Fixed out of SLO CVEs
  package.json
  yarn.lock
Due: none

Fixed out of SLO CVEs (#883)
  package.json
  yarn.lock
Due: none

fix: verify deferred AWS connections in Athena
  .config/docker-compose-base.yaml
  docker-compose.yaml
  go.mod
  go.sum
Due: none

Prepare for release
  CHANGELOG.md
  package.json
Due: none

chore: keep Cloud-like AWS env only in root compose
  .config/docker-compose-base.yaml
Due: none

Prepare for release (#884)
  CHANGELOG.md
  package.json
Due: none

chore: pin deferred-connect aws-sdk and sqlds tips for draft PR
  cspell.config.json
  go.mod
  go.sum
Due: none

chore: bump sqlds to v5.3.1 and aws-sdk defer-connect tip
  go.mod
  go.sum
Due: none

use UID data source API for base url
  src/ConfigEditor.tsx
Due: frontend-lint

fix: add .UTC() to macroTimeFilter for consistent timezone handling
  pkg/athena/macros.go
Due: backend-format

fix: interpolate connection args in applyTemplateVariables
  src/datasource.test.ts
  src/datasource.ts
Due: frontend-lint

feat(config): allow custom Workgroup and Database values
  src/ConfigEditor.tsx
Due: frontend-lint

chore: bump grafana-aws-sdk to released v1.5.3
  go.mod
  go.sum
Due: none

Prepare release 3.3.2
  CHANGELOG.md
  package.json
Due: none

chore: drop Cloud-like docker-compose overrides from release PR
  cspell.config.json
  docker-compose.yaml
Due: none

E2E: add tests for health check failures
  tests/e2e/configEditor.spec.ts
Due: frontend-lint

fix: bump local dev Grafana version to match plugin's @grafana/* dependency floor
  docker-compose.yaml
Due: none

E2E: wire up nightly Cloud end-to-end testing
  .github/workflows/cron.yml
  .github/workflows/push.yml
  cspell.config.json
  playwright.config.ts
  tests/e2e/annotationsEditor.spec.ts
  tests/e2e/configEditor.spec.ts
  tests/e2e/queryEditor.spec.ts
Due: frontend-lint

Path conditions:
  frontend-lint: any of: *.{js,ts,tsx}
  backend-format: any of: *pkg/**/*.go
