Repository grafana/athena-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format

frontend-lint:
  run: 'eslint --cache --ignore-path ./.gitignore --fix {staged_files}
  
    yarn prettier --write {staged_files}
  
    '
  stage_fixed: true

backend-format:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

Prepare 3.1.1 (#517)
  CHANGELOG.md
  package.json
Due: none

automated release 3.1.1
  dist/plugin.json
Due: none

Update for aws-sdk-go-v2
  cspell.config.json
  go.mod
  go.sum
  pkg/athena/api/api.go
  pkg/athena/api/fake.go
  pkg/athena/api/mock/athena-client.go
  pkg/athena/driver/connection.go
  pkg/athena/driver/rows.go
  pkg/athena/driver/rows_test.go
  pkg/athena/models/settings.go
Due: backend-format

Migrate to v2 auth interface of grafana-aws-sdk
  cspell.config.json
  go.mod
  go.sum
  pkg/athena/api/api.go
Due: backend-format

Rebasing & bumping grafana-aws-sdk to released version
  pkg/athena/api/api.go
  pkg/athena/api/api_test.go
  pkg/athena/api/mock/athena-client.go
Due: backend-format

Chore: add label to external contributions (#499)
  .github/pr-commands.json
  .github/workflows/pr-commands.yml
Due: none

Downgrade playwright
  package.json
  yarn.lock
Due: none

Rebasing & bumping grafana-aws-sdk to released version
  go.mod
  go.sum
  pkg/athena/api/api.go
  pkg/athena/api/api_test.go
  pkg/athena/api/mock/athena-client.go
Due: backend-format

Revert playwright/test
  package.json
  yarn.lock
Due: none

fix: update one last use of aws-sdk-go v1
  go.mod
  pkg/athena/api/api_test.go
Due: backend-format

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/combine_prs.yml
  .github/workflows/detect-breaking-changes.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/issue_commands.yml
  .github/workflows/pr-commands.yml
  .github/workflows/stale.yml
Due: none

Cleanup github actions files
  .github/workflows/combine_prs.yml
  .github/workflows/detect-breaking-changes.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/issue_commands.yml
  .github/workflows/pr-commands.yml
Due: none

add command permissions
  .github/workflows/issue_commands.yml
  .github/workflows/pr-commands.yml
Due: none

Cleanup github actions files (#533)
  .github/workflows/combine_prs.yml
  .github/workflows/detect-breaking-changes.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/issue_commands.yml
  .github/workflows/pr-commands.yml
Due: none

use vault instead of github
  .github/workflows/issue_commands.yml
  .github/workflows/pr-commands.yml
Due: none

use vault instead of github secrets (#534)
  .github/workflows/issue_commands.yml
  .github/workflows/pr-commands.yml
Due: none

add zizmor config
  .github/zizmor.yml
Due: none

Add zizmor ignore
  .github/workflows/pr-commands.yml
Due: none

Add zizmor config (#537)
  .github/workflows/pr-commands.yml
  .github/zizmor.yml
Due: none

Migrate to aws-sdk-go-v2 (#491)
  cspell.config.json
  go.mod
  go.sum
  pkg/athena/api/api.go
  pkg/athena/api/api_test.go
  pkg/athena/api/fake.go
  pkg/athena/api/mock/athena-client.go
  pkg/athena/driver/connection.go
  pkg/athena/driver/rows.go
  pkg/athena/driver/rows_test.go
  pkg/athena/models/settings.go
Due: backend-format

Don't use hash for grafana actions
  .github/workflows/e2e-tests.yml
  .github/workflows/issue_commands.yml
  .github/workflows/pr-commands.yml
Due: none

Add id-token permissions
  .github/workflows/issue_commands.yml
  .github/workflows/pr-commands.yml
Due: none

Prepare 3.1.2
  CHANGELOG.md
  cspell.config.json
  package.json
Due: none

Github workflows: Don't use hash for grafana actions and add permissions for PRs (#539)
  .github/workflows/e2e-tests.yml
  .github/workflows/issue_commands.yml
  .github/workflows/pr-commands.yml
Due: none

Add another commit
  CHANGELOG.md
Due: none

Prepare 3.1.2 (#540)
  CHANGELOG.md
  cspell.config.json
  package.json
Due: none

automated release 3.1.2
  dist/plugin.json
Due: none

Bump grafana-aws-sdk to pick up v2 auth fix
  go.mod
  go.sum
Due: none

Prepare v3.1.3 release
  CHANGELOG.md
  package.json
Due: none

Bump grafana aws sdk to pick up v2 auth fix (#544)
  CHANGELOG.md
  go.mod
  go.sum
  package.json
Due: none

automated release 3.1.3
  dist/plugin.json
Due: none

Chore: migrate to github actions for publishing
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: none

Migrate to eslint 9
  .eslintrc
  .prettierrc.js
  eslint.config.mjs
  package.json
  yarn.lock
Due: frontend-lint

Maybe this verison of golangcilint
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: none

Path conditions:
  frontend-lint: any of: *.{js,ts,tsx}
  backend-format: any of: *pkg/**/*.go
