Repository grafana/athena-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format

frontend-lint:
  run: 'eslint --cache --ignore-path ./.gitignore --fix {staged_files}
  
    yarn prettier --write {staged_files}
  
    '
  stage_fixed: true

backend-format:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

Fix version
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: none

Now the correct version
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: none

Try 2.0.2
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: none

Fix lint
  pkg/athena/api/mock/athena-client.go
  pkg/athena/driver/rows.go
  pkg/athena/macros.go
Due: backend-format

Fix externalID handling
  pkg/athena/routes/routes.go
  pkg/athena/routes/routes_test.go
Due: backend-format

Bump grafana-aws-sdk for externalId-supporting fix
  go.mod
  go.sum
Due: none

Prepare 3.1.4 release
  CHANGELOG.md
  package.json
Due: none

Retrieve externalID from Grafana config instead of environment variable (#547)
  CHANGELOG.md
  go.mod
  go.sum
  package.json
  pkg/athena/routes/routes.go
  pkg/athena/routes/routes_test.go
Due: backend-format

automated release 3.1.4
  dist/plugin.json
Due: none

fix: get external id from grafana config
  pkg/athena/api/api.go
Due: backend-format

fix: get external id from grafana config (#550)
  pkg/athena/api/api.go
Due: backend-format

Prepare 3.1.5 release
  CHANGELOG.md
  package.json
Due: none

Prepare 3.1.5 release (#551)
  CHANGELOG.md
  package.json
Due: none

automated release 3.1.5
  dist/plugin.json
Due: none

Fix: use user external id if not using assume role
  go.mod
  go.sum
  pkg/athena/api/api.go
Due: backend-format

prepare release
  CHANGELOG.md
  package.json
Due: none

Fix: use user external id if not using assume role (#553)
  CHANGELOG.md
  go.mod
  go.sum
  package.json
  pkg/athena/api/api.go
Due: backend-format

automated release 3.1.6
  dist/plugin.json
Due: none

Bump the version of our athenadriver fork for testing
  go.mod
  go.sum
Due: none

Bump the version of our athenadriver fork (#557)
  go.mod
  go.sum
Due: none

Chore: migrate to github actions for publishing
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: none

Migrate to eslint 9
  .eslintrc
  .prettierrc.js
  eslint.config.mjs
  package.json
  yarn.lock
Due: frontend-lint

Maybe this verison of golangcilint
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: none

Don't run e2e tests as part of CI
  .github/workflows/push.yml
Due: none

Dont run on publish either, add comments
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: none

Removing the part we don't need from eslintconfig
  .gitignore
  eslint.config.mjs
Due: none

Chore: Migrate to Github actions (#545)
  .eslintrc
  .github/workflows/publish.yml
  .github/workflows/push.yml
  .gitignore
  .prettierrc.js
  eslint.config.mjs
  package.json
  pkg/athena/api/mock/athena-client.go
  pkg/athena/driver/rows.go
  pkg/athena/macros.go
  yarn.lock
Due: frontend-lint, backend-format

Set rc version to deploy plugin to dev
  package.json
Due: none

Update the contributing file with release instructions
  CONTRIBUTING.md
Due: none

Chore: Update CONTRIBUTING.md with release instructions (#560)
  CONTRIBUTING.md
Due: none

Add support for auto-merging dependabot updates
  .github/dependabot.yml
  .github/workflows/dependabot-reviewer.yml
  .github/workflows/e2e-tests.yml
  package.json
  yarn.lock
Due: none

add cooldown for github actions ecosystem
  .github/dependabot.yml
Due: none

exclude grafana dependencies from cooldown
  .github/dependabot.yml
Due: none

Add support for auto-merging dependabot updates (#561)
  .github/dependabot.yml
  .github/workflows/dependabot-reviewer.yml
  .github/workflows/e2e-tests.yml
  package.json
  yarn.lock
Due: none

Path conditions:
  frontend-lint: any of: *.{js,ts,tsx}
  backend-format: any of: *pkg/**/*.go
