Repository grafana/athena-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format

frontend-lint:
  run: 'eslint --cache --ignore-path ./.gitignore --fix {staged_files}
  
    yarn prettier --write {staged_files}
  
    '
  stage_fixed: true

backend-format:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

Release 3.3.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Release 3.3.4 (#903)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

test: Align Athena ConfigEditor with server-minted grafanaExternalId.
  src/ConfigEditor.test.tsx
Due: frontend-lint

fix: Merge saved jsonData so per-DS grafanaExternalId appears after save.
  src/ConfigEditor.test.tsx
  src/ConfigEditor.tsx
Due: frontend-lint

babysit: Drop Athena no-client-mint test until @grafana/aws-sdk is published.
  src/ConfigEditor.test.tsx
Due: frontend-lint

chore: Bump @grafana/aws-sdk to 0.12.2.
  package-lock.json
  package.json
Due: none

feat(config): allow custom Workgroup and Database values
  src/ConfigEditor.tsx
Due: frontend-lint

fix: Merge saved jsonData so per-DS grafanaExternalId appears after save (#895)
  package-lock.json
  package.json
  src/ConfigEditor.test.tsx
  src/ConfigEditor.tsx
Due: frontend-lint

Release 3.3.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Release 3.3.5 (#904)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: run Cloud e2e with npm after package manager switch
  .github/workflows/cron.yml
Due: none

fix(deps): resolve CVEs in npm dependencies
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(deps): resolve CVEs in npm dependencies (#905)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Add nightly Cloud end-to-end lane against DSE2EDEV (#896)
  .github/workflows/cron.yml
  .github/workflows/push.yml
  cspell.config.json
  eslint.config.mjs
  package.json
  playwright.cloud.config.ts
  playwright.config.ts
  tests-cloud/configEditor.spec.ts
  tests-cloud/queryEditor.spec.ts
Due: frontend-lint

docs
  CONTRIBUTING.md
Due: none

update dsconfig to latestversion
  go.mod
  go.sum
  pkg/schema/dsconfig.json
  pkg/schema/schema.gen.json
  pkg/schema/settings.gen.json
Due: none

fix assume role ARN
  pkg/schema/dsconfig.json
  pkg/schema/dsconfig_test.go
  pkg/schema/schema.gen.json
  pkg/schema/settings.gen.json
Due: backend-format

cspell
  cspell.config.json
Due: none

fix webpack config
  webpack.config.ts
Due: frontend-lint

remove unsed group
  pkg/schema/dsconfig.json
Due: none

chore: dsconfig base schema - athena (#855)
  CONTRIBUTING.md
  cspell.config.json
  go.mod
  go.sum
  package.json
  pkg/athena/models/settings.go
  pkg/athena/models/settings_test.go
  pkg/schema/dsconfig.json
  pkg/schema/dsconfig_test.go
  pkg/schema/schema.gen.json
  pkg/schema/settings.examples.gen.json
  pkg/schema/settings.gen.json
  webpack.config.ts
Due: frontend-lint, backend-format

Release 3.3.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Prepare release 3.3.7 (#906)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: add Writers' Toolkit make-docs tooling for local preview
  docs/Makefile
  docs/docs.mk
  docs/make-docs
  docs/variables.mk
Due: none

docs: add gcx CLI query note and fix review date
  docs/sources/_index.md
Due: none

Update PR template (#900)
  .github/pull_request_template.md
Due: none

Use UID data source API (#830)
  src/ConfigEditor.tsx
Due: frontend-lint

Add e2e regression test for UID-based datasource resource API
  tests/e2e/configEditor.spec.ts
Due: frontend-lint

Prepare release 3.3.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Prepare release 3.3.8 (#909)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(driver): report GetQueryResults errors as downstream
  pkg/athena/driver/rows.go
  pkg/athena/driver/rows_test.go
Due: backend-format

Fix CVEs
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix CVEs (#911)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix crash when polling a cancelled query with no state change reason
  pkg/athena/api/api.go
  pkg/athena/api/api_test.go
  pkg/athena/api/mock/athena-client.go
Due: backend-format

chore: import the async query runner from @grafana/plugin-ui
  package-lock.json
  package.json
  src/datasource.test.ts
  src/datasource.ts
Due: frontend-lint

Path conditions:
  frontend-lint: any of: *.{js,ts,tsx}
  backend-format: any of: *pkg/**/*.go
