Repository grafana/athena-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      glob: '*.{js,ts,tsx}'
      run: |
        eslint --cache --ignore-path ./.gitignore --fix {staged_files}
        yarn prettier --write {staged_files}
      stage_fixed: true
    backend-format:
      glob: '*pkg/**/*.go'
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    spellcheck:
      run: yarn spellcheck {staged_files}

deps: update go version to 1.26.1
  go.mod
Due: none

Update codeowners
  .github/CODEOWNERS
Due: none

Update codeowners (#811)
  .github/CODEOWNERS
Due: none

removed enterprise wording
  docs/sources/_index.md
Due: none

Add session token handling for auth service support
  cspell.config.json
  pkg/athena/api/api.go
  pkg/athena/api/api_test.go
  pkg/athena/models/settings.go
  pkg/athena/models/settings_test.go
Due: backend-format

Disable splashscreen for tests
  docker-compose.yaml
Due: none

Bump pluigin-e2e
  package.json
  yarn.lock
Due: none

Try disabling new dashboard layout to fix 13.0.0 e2e test
  docker-compose.yaml
Due: none

Add session token handling for auth service support (#812)
  cspell.config.json
  docker-compose.yaml
  package.json
  pkg/athena/api/api.go
  pkg/athena/api/api_test.go
  pkg/athena/models/settings.go
  pkg/athena/models/settings_test.go
  yarn.lock
Due: backend-format

added lake formation info
  docs/sources/configure.md
  docs/sources/troubleshooting.md
Due: none

minor edits
  docs/sources/_index.md
Due: none

Prepare release 3.2.0
  CHANGELOG.md
Due: none

Update @grafana/plugin-e2e to 3.5.0
  package.json
  yarn.lock
Due: none

update changelog
  CHANGELOG.md
Due: none

remove feature flags set by @grafana/plugin-e2e
  docker-compose.yaml
Due: none

fix provisioned dashboard test
  tests/e2e/queryEditor.spec.ts
Due: frontend-lint

fix provisioned dashboard e2e test
  tests/e2e/queryEditor.spec.ts
Due: frontend-lint

fix e2e tests for 13.0.0
  tests/e2e/queryEditor.spec.ts
  tests/smoke/queryEditor.spec.ts
  tests/utils/openNewPanelEditPage.ts
Due: frontend-lint

revert workaround
  tests/e2e/queryEditor.spec.ts
  tests/smoke/queryEditor.spec.ts
  tests/utils/openNewPanelEditPage.ts
Due: frontend-lint

Docs: Updated Athena data source docs (#790)
  docs/sources/_index.md
  docs/sources/alerting.md
  docs/sources/annotations.md
  docs/sources/configure.md
  docs/sources/query-editor.md
  docs/sources/template-variables.md
  docs/sources/troubleshooting.md
Due: none

bump @grafana/plugin-e2e
  package.json
  yarn.lock
Due: none

Prepare release 3.2.0 (#815)
  CHANGELOG.md
  docker-compose.yaml
  package.json
  tests/e2e/queryEditor.spec.ts
  yarn.lock
Due: frontend-lint

Fix CVEs
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

set enable scripts false in .yarnrc.yml
  .yarnrc.yml
Due: none

set enable scripts false in .yarnrc.yml (#824)
  .yarnrc.yml
Due: none

Use GATB in GitHub workflows
  .github/workflows/issue_commands.yml
Due: none

use UID data source API for base url
  src/ConfigEditor.tsx
Due: frontend-lint

Use GATB in GitHub workflows (#829)
  .github/workflows/issue_commands.yml
Due: none

create plugin update
  .config/.cprc.json
  .config/.eslintrc
  .config/Dockerfile
  .config/README.md
  .config/bundler/externals.ts
  .config/docker-compose-base.yaml
  .config/jest-setup.js
  .config/jest.config.js
  .config/jest/utils.js
  .config/tsconfig.json
  .config/types/bundler-rules.d.ts
  .config/types/setupTests.d.ts
  .config/types/webpack-plugins.d.ts
  .config/webpack/BuildModeWebpackPlugin.ts
  .config/webpack/utils.ts
  .config/webpack/webpack.config.ts
  .cprc.json
  cspell.config.json
  docker-compose.yaml
  eslint.config.mjs
  go.mod
  go.sum
  package.json
  yarn.lock
Due: frontend-lint

fix spellcheck
  cspell.config.json
Due: none

migrated plugin-sdk config package (depreacted)
  pkg/athena/routes/routes_test.go
Due: backend-format

updated @grafana/create-plugin
  .config/.cprc.json
  .config/.eslintrc
  .config/Dockerfile
  .config/README.md
  .config/bundler/externals.ts
  .config/docker-compose-base.yaml
  .config/jest-setup.js
  .config/jest.config.js
  .config/jest/utils.js
  .config/tsconfig.json
  .config/types/bundler-rules.d.ts
  .config/types/setupTests.d.ts
  .config/types/webpack-plugins.d.ts
  .config/webpack/BuildModeWebpackPlugin.ts
  .config/webpack/utils.ts
  .config/webpack/webpack.config.ts
  .cprc.json
  docker-compose.yaml
  go.mod
  go.sum
  package.json
  yarn.lock
Due: frontend-lint

fix lint script and spellcheck
  cspell.config.json
  package.json
  yarn.lock
Due: none

updated resolution of i18next to disable console ads during yarn test:ci https://github.com/i18next/i18next/issues/2411
  package.json
  yarn.lock
Due: none

go static check error fix
  pkg/athena/routes/routes_test.go
Due: backend-format

chore: @grafana/create-plugin update (#832)
  .config/.cprc.json
  .config/.eslintrc
  .config/Dockerfile
  .config/README.md
  .config/bundler/externals.ts
  .config/docker-compose-base.yaml
  .config/jest-setup.js
  .config/jest.config.js
  .config/jest/utils.js
  .config/tsconfig.json
  .config/types/bundler-rules.d.ts
  .config/types/setupTests.d.ts
  .config/types/webpack-plugins.d.ts
  .config/webpack/BuildModeWebpackPlugin.ts
  .config/webpack/utils.ts
  .config/webpack/webpack.config.ts
  .cprc.json
  cspell.config.json
  docker-compose.yaml
  go.mod
  go.sum
  package.json
  pkg/athena/routes/routes_test.go
  yarn.lock
Due: frontend-lint, backend-format

Harden supply chain for JS and Go tooling.
  .github/workflows/issue_commands.yml
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.14.0.cjs
  .yarnrc.yml
  Magefile.go
  cspell.config.json
  go.mod
  go.sum
  package.json
  pkg/athena/driver/connection_test.go
  yarn.lock
Due: backend-format

revert grafana version bump
  src/plugin.json
Due: none
