Repository grafana/athena-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      glob: '*.{js,ts,tsx}'
      run: |
        eslint --cache --ignore-path ./.gitignore --fix {staged_files}
        yarn prettier --write {staged_files}
      stage_fixed: true
    backend-format:
      glob: '*pkg/**/*.go'
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    spellcheck:
      run: yarn spellcheck {staged_files}

add amazon keyword
  src/plugin.json
Due: none

Chore: Update plugin.json keywords (#434)
  src/plugin.json
Due: none

a few minor refactors / cleanup
  src/QueryEditorForm.tsx
Due: frontend-lint

reuse refactored enum in tests too
  src/QueryEditorForm.test.tsx
  src/QueryEditorForm.tsx
  src/types.ts
Due: frontend-lint

implement fix for select options not showing up after loading in
  src/QueryEditorForm.tsx
Due: frontend-lint

Query Editor: Fix field options not loading in (#437)
  src/QueryEditorForm.test.tsx
  src/QueryEditorForm.tsx
  src/types.ts
Due: frontend-lint

Chore: group dependabot updates and use a weekly interval
  .github/dependabot.yml
Due: none

remove group patterns for grafana specific dependencies
  .github/dependabot.yml
Due: none

Chore: group dependabot updates and use a weekly interval (#443)
  .github/dependabot.yml
Due: none

Bump uber/athenadriver.
  go.mod
  go.sum
Due: none

Run go mod tidy
  go.sum
Due: none

Bump uber/athenadriver to 1.1.15 (#448)
  go.mod
  go.sum
Due: none

Links
  CHANGELOG.md
Due: none

2.17.5
  CHANGELOG.md
  package.json
Due: none

Update changelog
  CHANGELOG.md
Due: none

Prepare release 2.17.5 (#449)
  CHANGELOG.md
  package.json
Due: none

automated release 2.17.5
  dist/plugin.json
Due: none

Bump sqlds and grafana-plugin-sdk-go for error source updates
  go.mod
  go.sum
  pkg/athena/macros.go
  pkg/athena/macros_test.go
Due: backend-format

Bump `sqlds` and `grafana-plugin-sdk-go` for error source improvements (#462)
  go.mod
  go.sum
  pkg/athena/macros.go
  pkg/athena/macros_test.go
Due: backend-format

remove cypress
  cypress/integration/smoke.spec.ts
  cypress/integration/testDashboard.json
  cypress/screenshots/blank.md
  cypress/tsconfig.json
  package.json
  yarn.lock
Due: frontend-lint

use node 20
  package.json
  yarn.lock
Due: none

fix eslint
  package.json
  yarn.lock
Due: none

setup plugin-e2e and playwright
  .gitignore
  cspell.config.json
  package.json
  playwright.config.ts
  yarn.lock
Due: frontend-lint

add smoke tests
  .gitignore
  provisioning/datasources/aws-athena.yaml
  tests/annotationsEditor.spec.ts
  tests/configEditor.spec.ts
  tests/queryEditor.spec.ts
  tests/variableEditor.spec.ts
Due: frontend-lint

add e2e workflow with matrix
  .github/workflows/e2e-tests.yml
Due: none

set lower range boundy to plugin-e2e supported version
  .github/workflows/e2e-tests.yml
Due: none

run e2e tests once per day
  .github/workflows/e2e-tests.yml
Due: none

fix test
  package.json
  yarn.lock
Due: none

Prepare release 2.18.0
  .github/dependabot.yml
  CHANGELOG.md
  package.json
Due: none

update changelog
  CHANGELOG.md
Due: none

Prepare release 2.18.0 (#467)
  .github/dependabot.yml
  CHANGELOG.md
  package.json
Due: none

automated release 2.18.0
  dist/plugin.json
Due: none

Plugin ui
  package.json
  src/ConfigEditor.tsx
  src/QueryEditor.test.tsx
  src/QueryEditorForm.test.tsx
  src/QueryEditorForm.tsx
  src/ResultReuse/ResultReuse.tsx
  src/SQLEditor.tsx
  src/VariableQueryEditor.test.tsx
  src/language/completionItemProvider.ts
  src/language/macros.ts
  yarn.lock
Due: frontend-lint

Prepare 3.0.0
  CHANGELOG.md
  README.md
  package.json
Due: none

Replace experimental in tests
  src/QueryEditor.test.tsx
  src/QueryEditorForm.test.tsx
  src/VariableQueryEditor.test.tsx
Due: frontend-lint

Fix a typo
  README.md
Due: none

Change grafana dependency
  src/plugin.json
Due: none

Test with 11.4
  src/plugin.json
Due: none

Use grafanaDependency from plugin.json
  .github/workflows/e2e-tests.yml
Due: none

Increase depencency in plugin.json
  src/plugin.json
Due: none
